/* #region GLOBAL RESET & VARIABLES */

@import "tailwindcss";
@layer base {
  * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
}

:root {
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --meditm-gray-color: #ccc;


  --sunlit-clay-50: #fcf4e9;
  --sunlit-clay-100: #f9e9d2;
  --sunlit-clay-200: #f2d4a6;
  --sunlit-clay-300: #ecbe79;
  --sunlit-clay-400: #e6a84c;
  --sunlit-clay-500: #df9320;
  --sunlit-clay-600: #b37519;
  --sunlit-clay-700: #865813;
  --sunlit-clay-800: #593b0d;
  --sunlit-clay-900: #2d1d06;
  --sunlit-clay-950: #1f1504;

  --rusty-spice-50: #faefeb;
  --rusty-spice-100: #f4dfd7;
  --rusty-spice-200: #e9bfaf;
  --rusty-spice-300: #dea087;
  --rusty-spice-400: #d3805f;
  --rusty-spice-500: #c86037;
  --rusty-spice-600: #a04d2c;
  --rusty-spice-700: #783a21;
  --rusty-spice-800: #502616;
  --rusty-spice-900: #28130b;
  --rusty-spice-950: #1c0d08;

  --lemon-chiffon-50: #fdfae8;
  --lemon-chiffon-100: #faf4d1;
  --lemon-chiffon-200: #f6e9a2;
  --lemon-chiffon-300: #f1de74;
  --lemon-chiffon-400: #edd445;
  --lemon-chiffon-500: #e8c917;
  --lemon-chiffon-600: #baa112;
  --lemon-chiffon-700: #8b780e;
  --lemon-chiffon-800: #5d5009;
  --lemon-chiffon-900: #2e2805;
  --lemon-chiffon-950: #201c03;

  --toffee-brown-50: #f7f1ed;
  --toffee-brown-100: #f0e3db;
  --toffee-brown-200: #e1c8b7;
  --toffee-brown-300: #d2ac93;
  --toffee-brown-400: #c3916f;
  --toffee-brown-500: #b4754b;
  --toffee-brown-600: #905e3c;
  --toffee-brown-700: #6c462d;
  --toffee-brown-800: #482f1e;
  --toffee-brown-900: #24170f;
  --toffee-brown-950: #19100b;

  --shadow-grey-50: #f4f2f0;
  --shadow-grey-100: #e9e4e2;
  --shadow-grey-200: #d4cac4;
  --shadow-grey-300: #beafa7;
  --shadow-grey-400: #a8958a;
  --shadow-grey-500: #937a6c;
  --shadow-grey-600: #756257;
  --shadow-grey-700: #584941;
  --shadow-grey-800: #3b312b;
  --shadow-grey-900: #1d1816;
  --shadow-grey-950: #15110f;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/cozy-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

/* #endregion */

/* #region NAVBAR STYLES */

.navbar .nav-link {
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 30px;
}

.navbar .nav-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* #endregion */

/* #region Signin Modal */

#signin-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;

  backdrop-filter: blur(5px);
}

#signin-modal-backdrop.is-visible {
  visibility: visible;
  opacity: 1;
}

#signin-modal-backdrop .wrapper {
  width: 420px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 0 40px 30px 40px; /* top right bottom left */

  position: relative;
  overflow: hidden;
  z-index: 1;
  background: transparent;
}

#signin-modal-backdrop .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: url(../assets/cozy-room-rain.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  filter: blur(3px);
  transform: scale(1.05);
}

#signin-modal-backdrop .wrapper h1 {
  font-size: 36px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 10px 10px; /* top-right bottom-right bottom-left top-left */
}

#signin-modal-backdrop .wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

#signin-modal-backdrop .input-box input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

#signin-modal-backdrop .input-box input::placeholder {
  color: #fff;
}

#signin-modal-backdrop .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#signin-modal-backdrop .remember-forgot label input {
  accent-color: #fff;
}

#signin-modal-backdrop .remember-forgot a {
  color: #fff;
  text-decoration: none;
}

#signin-modal-backdrop .remember-forgot a:hover {
  text-decoration: underline;
}

#signin-modal-backdrop .wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

#signin-modal-backdrop .wrapper .register-link {
  text-align: center;
  margin: 20px 0 15px 0;
  font-size: 14.5px;
}

#signin-modal-backdrop .register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

#signin-modal-backdrop .register-link p a:hover {
  text-decoration: underline;
}

#signin-modal-backdrop .wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 10;
}

#signin-modal-backdrop .wrapper .icon-close:hover {
  background: #fad4a348;
}

/* #endregion */
